@import "_breakpoints";

.home {
    min-height: 100vh;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container{
        max-width: $large-screen;
        display: flex;
        flex-direction: column;
        align-items: center;
        .course-list {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            .title {
                font-size: 32px;
                font-weight: 600;
                margin: 20px 0 20px 65px;
            }
        }
    }
}